.background { 
    x: 0; 
    y: 0; 
    width: 100%; 
    height: 100%; 
    fill: fb-black; 
  }
  
  .station-item {
    display: none;
  }
  
  .large { 
    font-size: 64; 
    font-family: System-Regular;
    text-length: 32;
    fill: white; 
  }
  
  .medium { 
    font-size: 28; 
    font-family: System-Regular;
    text-length: 32;
    fill: white; 
  }
  
  .small { 
    font-size: 22;  
    font-family: System-Regular;
    text-length: 32;
    fill: white; 
  }
  
  .status {
    x: 6; 
    y: 26;
    text-anchor: start;
  }
  
  .note {
    x: 6; 
    y: 50;
    text-anchor: start;
    fill: fb-dark-gray;
  }
  
  .distance {
    x: 100%-6; 
    y: 26;
    text-anchor: end;
  }
  
  .aqi {
    x: 50%; 
    y: 50%+20;
    text-anchor: middle;
  }
  
  .pol {
    x: 50%; 
    y: 50%+48;
    text-anchor: middle;
    fill: fb-dark-gray;
  }
  
  .name {
    x: 50%;
    y: 100%-30;
    width: 100%-12;
    height: 80;
    text-anchor: middle;
    text-overflow: ellipsis;
  }
  
  .body-container {
    x: 50%-90;
    y: 50%-94;
    width: 180;
    height: 180;
  }
  
  .body-arc { 
    x: 0; 
    y: 0;
    width: 100%; 
    height: 100%;
    start-angle: 210;
    arc-width: 20; 
  }
  
  .body-arc-front {
    sweep-angle: 0;
    fill: fb-light-gray;
  }
  
  .body-arc-back {
    sweep-angle: 300;
    opacity: 0.5;
    fill: fb-extra-dark-gray;
  }
  
  .cloud-icon { 
    x: 50%-16; 
    y: 100%-32; 
    width: 32; 
    height: 32; 
    fill: fb-extra-dark-gray;
  }
    
  #touch-area {
    x: 0; 
    y: 0; 
    width: 100%; 
    height: 100%; 
    opacity: 0; 
    fill: white;
  }
  
  .iaqi-section {
    y: 0;
    width: 50%; 
    height: 100%;
  }
  
  .details-space {
    height: 10;
  }
  
  .details-iaqi {
    height: 46;
  }
  
  .name-details {
    x: 6; 
    y: 26;
    width: 100%-12;
    text-anchor: start;
    text-overflow: ellipsis;
  }
  
  .extras-details {
    x: 6;
    width: 100%-12;
    height: 24;
    text-anchor: start;
    text-overflow: clip;
    fill: fb-light-gray;
  }

  .empty-message { 
    x: 50%-130;
    y: 50%-57;
    width: 260;
    height: 114;
    font-size: 22; 
    font-family: System-Regular;
    text-length: 96;
    text-anchor: middle;
    text-overflow: clip;
    display-align: center; 
    rows: 3; 
    fill: fb-light-gray;
  }
  
  .empty-message-height {
    height: 235;
  }

  .history-iaqi-height {
    height: 200;
  }
  
  .divider-bottom { 
    x: 6; 
    y: 100%-2; 
    width: 100%-12; 
    height: 2; 
    fill: fb-extra-dark-gray;
  }
  
  .history-iaqi-pol {
    x: 100%-6; 
    y: 28;
    text-anchor: end;
  }
  
  .history-bar-chart {
    x: 12;
    y: 48;
    width: 100%-24;
    height: 133;
  }
  
  .chart-bar {
    y: 0;
    width: 36;
    height: 100%;
  }
  
  .bar-axis-value {
    x: 50%;
    y: 100%;
    font-size: 22; 
    font-family: System-Regular;
    text-length: 16;
    text-anchor: middle;
    fill: fb-light-gray;
  }

  .bar-front {
    x: 0;
    y: 11;
    width: 100%;
    height: 100;
    fill: fb-dark-gray;
  }